[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vivekrithik
[access "refs/for/refs/*"]
	read = group user/vivekrithik
	push = group user/vivekrithik
	label-Code-Review = -2..+2 group user/vivekrithik
	label-Verified = -1..+1 group user/vivekrithik
	rebase = group user/vivekrithik
	removeReviewer = group user/vivekrithik
	submit = group user/vivekrithik
[access "refs/heads/*"]
	read = group user/vivekrithik
	create = group user/vivekrithik
	push = +force group user/vivekrithik
	pushMerge = group user/vivekrithik
[access "refs/tags/*"]
	push = group user/vivekrithik
	push = +force group user/vivekrithik
